<!doctype html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.3.1/css/ol.css" type="text/css">
    <style>
      .map {
        height: 400px;
        width: 100%;
      }
    </style>
    <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.3.1/build/ol.js"></script>
    <title>OpenLayers example</title>
  </head>
  <body>
    <h2>My Map</h2>
    <div id="map" class="map"></div>
    <script type="text/javascript">
      osm = new ol.source.OSM()
      xyzDrone = new ol.source.XYZ( { url: 'http://localhost:8080/tile/ac/{z}/{x}/{y}'} );
       var map = new ol.Map({
        target: 'map',
        layers: [
          new ol.layer.Tile( { source: osm } ),
          new ol.layer.Tile( { source: xyzDrone } )
        ],
        view: new ol.View({
          center: ol.proj.fromLonLat([-67.71266,-9.81651]),
          zoom: 12
        })
      });
    </script>
  </body>
</html> 
